<div class="seller-auth">
    <div *ngIf ="!showLogin" class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUP(sellerSignUp.value)" class="common-form">
            <input 
            class="form-input" 
            type="text" 
            ngModel name="name" 
            placeholder="Enter Name"
            ngModel
             />
            <input 
            class="form-input" 
            type="text" 
            name="password" 
            placeholder="Enter Password" 
            ngModel
            />
            <input 
            class="form-input" 
            type="text" 
            name="email" 
            placeholder="Enter Email" 
            ngModel
            />
            <button class="form-button">Sign-Up</button>
            <a class="auth-toggle-link" (click) ="openLogin()" >Already have an Account? Click to Login</a>
        </form>
    </div>

<!-- Login-Area -->
<div *ngIf ="showLogin" class="sign-up">
    <h1>Seller Login</h1>
    <p class="error-p" >{{authError}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
        <input 
        class="form-input" 
        type="text" 
        name="email" 
        placeholder="Enter Email" 
        ngModel
        />
        <input 
        class="form-input" 
        type="text" 
        name="password" 
        placeholder="Enter Password" 
        ngModel
        />
        <button class="form-button">Login</button>
        <a class="auth-toggle-link" (click)="openSignUp()">Don't have Account? Click to SignUp</a>
    </form>
</div>
</div>